---
import MainLayout from "./MainLayout.astro";
---

<MainLayout
  title={Astro.props.metaTitle || Astro.props.title}
  description={Astro.props.metaDescription || Astro.props.description}
  {...Astro.props}
>
  <main
    id={Astro.props.id}
    class="max-w-screen-xl mx-auto px-4! py-6 md:py-28 flex items-center justify-center flex-col"
  >
    <h1 class="text-4xl md:text-6xl pb-1 md:pb-2 font-bold">
      {Astro.props.title}
    </h1>
    <p
      class="max-w-xl text-center text-muted-foreground flex items-center justify-center mt-2 mb-6 md:mb-8 md:text-lg"
    >
      {Astro.props.description}
    </p>
    <slot />
  </main>
</MainLayout>
