---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Root from "./Root.astro";
import Banner from "../components/Banner.astro";
---

<Root {...Astro.props}>
  {
    (
      <Banner>
        <p>
          Would you like to use stable version of Ferron?{" "}
          <a href="https://v1.ferron.sh">Visit Ferron 1.x website</a>
        </p>
      </Banner>
    )
  }
  <Header />
  <div class="grow">
    <slot />
  </div>
  <Footer />
</Root>
