---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Root from "./Root.astro";
import Banner from "../components/Banner.astro";
---

<Root {...Astro.props}>
  {
    (
      <Banner>
        <p>
          <strong>Notice:</strong> Ferron 2.0.0 is currently in beta.
        </p>
      </Banner>
    )
  }
  <Header />
  <div class="grow">
    <slot />
  </div>
  <Footer />
</Root>
