---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Root from "./Root.astro";
//import Banner from "../components/Banner.astro";

/*
  Banner:

  <Banner>
    <p>
      Ferron 2 has been released!{" "}
      <a href="/blog/introducing-ferron-2">Read more</a>
    </p>
  </Banner>
*/
---

<Root {...Astro.props}>
  <Header />
  <div class="grow">
    <slot />
  </div>
  <Footer />
</Root>
