---
import TitleLayout from "./TitleLayout.astro";

const { frontmatter } = Astro.props;
---

<TitleLayout title={frontmatter.title} description={frontmatter.description}>
  <div class="prose max-w-full md:prose-lg">
    <slot />
  </div>
</TitleLayout>
