---
import MainLayout from "./MainLayout.astro";
---

<MainLayout {...Astro.props}>
  <main class="max-w-screen-xl mx-auto px-4 py-6 md:py-24 gap-2 flex flex-col">
    <h1 class="text-4xl md:text-5xl pb-1 md:pb-2 mb-2 font-bold">
      {Astro.props.title}
    </h1>
    <slot />
  </main>
</MainLayout>
