apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    jsonData:
      prometheusType: Prometheus
      timeInterval: 10s
    isDefault: true
