html,
body {
    margin: 0;
    padding: 0;
    font-family:
        Funnel Sans,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    background-color: #ffffff;
    color: #0f172a;
}

body {
    margin: 1.5em auto;
    padding: 1em;
    box-sizing: border-box;
    font-size: 1.1em;
    width: 100%;
    max-width: 1280px;
}

header {
    text-align: center;
}

.logo {
    display: inline-block;
    background-image: url(./logo.png);
    background-size: 100%;
    width: 200px;
    height: 50px;
}

.column {
    width: 50%;
    padding: 0.75em;
    box-sizing: border-box;
    float: left;
}

.clearfix {
    display: table;
    clear: both;
}

h1 {
    font-size: 2.75em;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

a {
    color: #f47825;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 1em;
    }

    h1 {
        font-size: 2.25em;
        margin-bottom: 1em;
    }

    .column {
        float: none;
        width: 100%;
        padding: 0;
    }
}

@media screen and (prefers-color-scheme: dark) {
    html,
    body {
        background-color: #14181f;
        color: #f2f2f2;
    }

    .logo {
        background-image: url(./logo-dark.png);
    }
}

/*
Copyright 2025 The Funnel Project Authors (https://github.com/Dicotype/Funnel)

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at:
https://openfontlicense.org
*/

@font-face {
    font-family: "Funnel Sans";
    src: url(./FunnelSans-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Funnel Sans";
    src: url(./FunnelSans-Bold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Funnel Sans";
    src: url(./FunnelSans-Italic.woff2) format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Funnel Sans";
    src: url(./FunnelSans-BoldItalic.woff2) format("woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Funnel Sans";
    src: url(./FunnelSans-ExtraBold.woff2) format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Funnel Sans";
    src: url(./FunnelSans-ExtraBoldItalic.woff2) format("woff2");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Funnel Sans";
    src: url(./FunnelSans-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Funnel Sans";
    src: url(./FunnelSans-LightItalic.woff2) format("woff2");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Funnel Sans";
    src: url(./FunnelSans-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Funnel Sans";
    src: url(./FunnelSans-MediumItalic.woff2) format("woff2");
    font-weight: 500;
    font-style: italic;
}
