html,
body {
    margin: 0;
    padding: 0;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    background-color: #ffffff;
    color: #0f172a;
}

body {
    margin: 2em auto;
    padding: 1em;
    box-sizing: border-box;
    width: 100%;
    max-width: 1280px;
}

header {
    text-align: center;
}

.logo {
    display: inline-block;
    background-image: url(./logo.png);
    background-size: 100%;
    width: 200px;
    height: 50px;
}

.column {
    width: 50%;
    padding: 0.75em;
    box-sizing: border-box;
    float: left;
}

.clearfix {
    display: table;
    clear: both;
}

h1 {
    font-size: 2.5em;
}

a {
    color: #f47825;
}

@media screen and (max-width: 512px) {
    h1 {
        font-size: 2em;
    }

    .column {
        float: none;
        width: 100%;
        padding: 0;
    }
}

@media screen and (prefers-color-scheme: dark) {
    html,
    body {
        background-color: #14181f;
        color: #f2f2f2;
    }

    .logo {
        background-image: url(./logo-dark.png);
    }
}
