Package: ferron3
Version: $VERSION
Architecture: $ARCHITECTURE
Essential: no
Priority: optional
Depends: libc6 (>= 2.31), ca-certificates
Conflicts: ferron, ferron-lts
Maintainer: Dorian Niemiec
Section: httpd
Description: A fast, modern, and easily configurable web server with automatic TLS.
