ferron-random:80 {
  proxy "http://backend-1:3000"
  proxy "http://backend-2:3000"
  proxy "http://backend-3:3000"

  lb_algorithm "random"
}

ferron-round-robin:80 {
  proxy "http://backend-1:3000"
  proxy "http://backend-2:3000"
  proxy "http://backend-3:3000"

  lb_algorithm "round_robin"
}
