@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  html,
  body {
    margin: 0;
    width: 100%;
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  body {
    @apply flex flex-col min-h-screen;
  }

  * {
    @apply border-border accent-accent;
  }

  *:focus-visible {
    @apply outline-none ring-2 ring-ring;
  }

  /* Custom scrollbar styles for Chromium, because the default ones inside the body are light style, which may not match the website's dark style. */
  @media (width >= 48rem) {
    /* Equivalent to `md:<class>` in Tailwind CSS */
    @supports selector(::-webkit-scrollbar) {
      body ::-webkit-scrollbar {
        @apply size-2;
      }

      body ::-webkit-scrollbar-track {
        @apply bg-background;
      }

      body ::-webkit-scrollbar-thumb {
        @apply bg-foreground/30 rounded-full;
      }

      body ::-webkit-scrollbar-thumb:hover {
        @apply bg-foreground/50;
      }
    }
  }
}

@theme static {
  --font-sans: var(--font-funnel-sans);
  --font-mono: var(--font-jetbrains-mono);

  --color-background: hsl(220 20% 10%);
  --color-foreground: hsl(0 0% 95%);
  --color-card: hsl(220 20% 13%);
  --color-card-foreground: hsl(0 0% 95%);
  --color-popover: hsl(220 20% 13%);
  --color-popover-foreground: hsl(0 0% 95%);
  --color-primary: hsl(24 90% 55%);
  --color-primary-foreground: hsl(0 0% 98%);
  --color-secondary: hsl(220 15% 16%);
  --color-secondary-foreground: hsl(0 0% 98%);
  --color-muted: hsl(220 20% 18%);
  --color-muted-foreground: hsl(0 0% 75%);
  --color-accent: hsl(24 90% 45%);
  --color-accent-foreground: hsl(0 0% 98%);
  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(0 0% 98%);
  --color-border: hsl(220 15% 20%);
  --color-input: hsl(220 15% 20%);
  --color-ring: hsl(0 0% 95%);

  /* For charts (it must be in @theme static block) */
  --color-chart-1: hsl(216 100% 57%);
  --color-chart-2: hsl(0 100% 57%);
  --color-chart-3: hsl(174 100% 37%);
  --color-chart-4: hsl(44 100% 47%);
  --color-chart-5: hsl(144 100% 37%);
}

@layer theme {
  @media (prefers-color-scheme: light) {
    :root {
      --color-background: hsl(0 0% 100%);
      --color-foreground: hsl(220 47% 11%);
      --color-card: hsl(0 0% 97%);
      --color-card-foreground: hsl(220 47% 11%);
      --color-popover: hsl(220 20% 13%);
      --color-popover-foreground: hsl(0 0% 95%);
      --color-primary: hsl(24 90% 55%);
      --color-primary-foreground: hsl(0 0% 98%);
      --color-secondary: hsl(0 0% 92%);
      --color-secondary-foreground: hsl(220 47% 11%);
      --color-muted: hsl(0 0% 88%);
      --color-muted-foreground: hsl(220 20% 45%);
      --color-accent: hsl(24 90% 45%);
      --color-accent-foreground: hsl(0 0% 98%);
      --color-destructive: hsl(0 84.2% 60.2%);
      --color-destructive-foreground: hsl(0 0% 98%);
      --color-border: hsl(0 0% 85%);
      --color-input: hsl(0 0% 85%);
      --color-ring: hsl(220 47% 11%);
    }
  }
}

@utility btn {
  @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors disabled:pointer-events-none disabled:bg-muted disabled:text-muted-foreground shadow hover:bg-primary/90 hover:text-primary-foreground h-10 px-8 cursor-pointer;
}

@utility btn-primary {
  @apply bg-primary text-primary-foreground;
}

@utility btn-secondary {
  @apply border border-input bg-background hover:bg-accent hover:text-accent-foreground;
}

@utility card {
  @apply bg-card text-card-foreground backdrop-blur-sm border border-muted/60 rounded-lg shadow-sm p-6;
}

@utility icon-badge {
  @apply bg-primary/10 size-12 rounded-lg flex items-center justify-center;

  svg {
    @apply size-6! text-primary;
  }
}

@utility icon-badge-large {
  @apply size-14;

  svg {
    @apply size-8!;
  }
}

@utility badge {
  @apply inline-block px-4 py-1 bg-primary/10 rounded-full text-primary font-medium text-sm backdrop-blur-sm;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@utility card-hover {
  @apply transition-all duration-300 hover:-translate-y-1 hover:shadow-xl hover:shadow-primary/10;
}

@utility blur-fix-performance {
  /* Utility class for fixing performance issues on Safari */
  /* Had to use CSS variables, since without them, "trasform: translate3d(0,0,0)" gets converted to "transform: translate(0)"... */
  --blur-fix-performance: 0;
  transform: translate3d(
    var(--blur-fix-performance),
    var(--blur-fix-performance),
    var(--blur-fix-performance)
  );
}

.pagefind-ui {
  --pagefind-ui-scale: 0.8;
  --pagefind-ui-primary: var(--color-primary);
  --pagefind-ui-text: var(--color-foreground);
  --pagefind-ui-background: var(--color-background);
  --pagefind-ui-border: var(--color-border);
  --pagefind-ui-border-width: 1px;
  --pagefind-ui-border-radius: 0.25rem;
  --pagefind-ui-font: var(--font-funnel-sans);

  width: 100%;
}

.pagefind-ui .pagefind-ui__drawer:not(.pagefind-ui__hidden) {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 0px;
  z-index: 9999;
  padding: 1em;
  overflow-y: auto;
  box-shadow:
    0 10px 10px -5px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: var(--pagefind-ui-border-radius);
  border-bottom-left-radius: var(--pagefind-ui-border-radius);
  border-color: var(--pagefind-ui-border);
  border-width: var(--pagefind-ui-border-width);
  border-style: solid;
  background-color: var(--pagefind-ui-background);
}

.pagefind-ui .pagefind-ui__result-link {
  color: var(--pagefind-ui-primary);
}

.pagefind-ui .pagefind-ui__result-excerpt {
  color: var(--pagefind-ui-text);
}

/* Hide the filter panel */
.pagefind-ui .pagefind-ui__filter-panel {
  display: none !important;
}

/* Ferron code syntax highlighting theme, based on Catpuccin Mocha and Catpuccin Latte themes */
.astro-code,
.astro-code span {
  color: var(--shiki-dark) !important;
  /* Don't use theme's background ("var(--shiki-dark-bg)") */
  background-color: color-mix(
    in hsl,
    var(--color-secondary),
    var(--color-background) 50%
  ) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

@media (prefers-color-scheme: light) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-light) !important;
    /* Don't use theme's background ("var(--shiki-light-bg)") */
    background-color: color-mix(
      in hsl,
      var(--color-secondary),
      var(--color-background) 50%
    ) !important;
    font-style: var(--shiki-light-font-style) !important;
    font-weight: var(--shiki-light-font-weight) !important;
    text-decoration: var(--shiki-light-text-decoration) !important;
  }
}

.astro-code {
  @apply shadow-sm;
}

@utility prose {
  --tw-prose-body: inherit;
  --tw-prose-headings: inherit;
  --tw-prose-lead: inherit;
  --tw-prose-links: var(--color-primary);
  --tw-prose-bold: inherit;
  --tw-prose-counters: var(--color-muted-foreground);
  --tw-prose-bullets: var(--color-muted-foreground);
  --tw-prose-hr: inherit;
  --tw-prose-quotes: inherit;
  --tw-prose-quote-borders: var(--color-border);
  --tw-prose-captions: inherit;
  --tw-prose-code: inherit;
  --tw-prose-pre: inherit;
  --tw-prose-pre-code: inherit;
  --tw-prose-th-borders: var(--color-foreground);
  --tw-prose-td-borders: var(--color-border);
  --tw-prose-invert-body: inherit;
  --tw-prose-invert-headings: inherit;
  --tw-prose-invert-lead: inherit;
  --tw-prose-invert-links: inherit;
  --tw-prose-invert-bold: inherit;
  --tw-prose-invert-counters: inherit;
  --tw-prose-invert-bullets: inherit;
  --tw-prose-invert-hr: inherit;
  --tw-prose-invert-quotes: inherit;
  --tw-prose-invert-quote-borders: inherit;
  --tw-prose-invert-captions: inherit;
  --tw-prose-invert-code: inherit;
  --tw-prose-invert-pre: inherit;
  --tw-prose-invert-pre-code: inherit;
  --tw-prose-invert-th-borders: inherit;
  --tw-prose-invert-td-borders: inherit;
}

@utility prose {
  img {
    @apply mx-auto;
  }
}
