---
import FontAwesomeIcon from "./FontAwesomeIcon.astro";
import {
  faXTwitter,
  faThreads,
  faInstagram
} from "@fortawesome/free-brands-svg-icons";
---

<a
  href={"https://x.com/ferron_web"}
  target="_blank"
  class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-1.5"
>
  <span class="sr-only">X icon</span>
  <FontAwesomeIcon icon={faXTwitter} class="w-6 h-6" />
</a>

<a
  href={"https://www.instagram.com/ferronweb"}
  target="_blank"
  class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-1.5"
>
  <span class="sr-only">Instagram icon</span>
  <FontAwesomeIcon icon={faInstagram} class="w-6 h-6" />
</a>

<a
  href={"https://www.threads.net/ferronweb"}
  target="_blank"
  class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-9 px-1.5"
>
  <span class="sr-only">Threads icon</span>
  <FontAwesomeIcon icon={faThreads} class="w-6 h-6" />
</a>
