<section id="automatictls" class="py-20">
  <div class="container mx-auto px-4">
    <div class="text-center mb-16">
      <h2 class="text-3xl md:text-4xl font-bold mb-4">
        Experience automatic TLS
      </h2>
      <p class="text-muted-foreground text-lg max-w-2xl mx-auto">
        Discover how Ferron simplifies the process of securing your website with
        HTTPS through automatic TLS management.
      </p>
    </div>
    <div class="card mx-auto max-w-224 prose md:prose-lg">
      <ol>
        <li>
          Point a subdomain named <code>ferrondemo</code> of your domain name (for
          example, <code>ferrondemo.example.com</code>) to either:
          <div
            class="my-2 flex flex-col sm:flex-row gap-1 md:gap-4 justify-center items-center"
          >
            <span
              class="inline-flex shadow-sm border rounded-md overflow-clip bg-background text-foreground"
            >
              <span
                class="bg-primary text-primary-foreground px-4 py-1 font-medium"
                >CNAME</span
              >
              <span class="px-4 py-1">demo.ferron.sh</span>
            </span>
            <span>or</span>
            <span
              class="inline-flex shadow-sm border rounded-md overflow-clip bg-background text-foreground"
            >
              <span
                class="bg-primary text-primary-foreground px-4 py-1 font-medium"
                >A</span
              >
              <span class="px-4 py-1">194.110.4.223</span>
            </span>
          </div>
        </li>
        <li>
          Visit the subdomain in the browser. You may have to wait some time for
          the DNS records to propagate and the TLS certificate to be issued.
          After few minutes, visit the subdomain again and you will see a
          securely served webpage.
        </li>
      </ol>
      <p>
        You will notice how Ferron manages the TLS certificate for your
        subdomain automatically.
      </p>
      <p class="text-sm">
        <strong>Not working?</strong> Check your DNS settings and ensure that the
        subdomain is correctly pointing to the IP address or CNAME provided.
      </p>
    </div>
  </div>
</section>
