---
import Benchmark from "./Benchmark.astro";
---

<section id="benchmarks" class="py-20">
  <div class="container">
    <div class="text-center mb-16">
      <h2 class="text-3xl md:text-4xl font-bold mb-4">Fast performance</h2>
      <p class="text-muted-foreground text-lg max-w-2xl mx-auto">
        Ferron can outperform other popular web servers in performance benchmark
        tests across different workloads.
      </p>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      <Benchmark
        title="Static file serving"
        description="Requests per second when serving static files (higher is better)"
        data={[
          {
            name: "1KB file",
            ferron: 124552.78,
            competitor1: 100983.17,
            competitor2: 25384.9,
            competitor3: 93459.1
          },
          {
            name: "100KB file",
            ferron: 26228.44,
            competitor1: 11720.13,
            competitor2: 17797.22,
            competitor3: 29259.29
          },
          {
            name: "1MB file",
            ferron: 2537.57,
            competitor1: 1278.84,
            competitor2: 4618.48,
            competitor3: 3306.1
          }
        ]}
        unit={"req/s"}
        higherIsBetter={true}
        competitor1={"lighttpd"}
        competitor2={"Apache httpd"}
        competitor3={"Caddy"}
        command="ferrbench -c 1000 -d 60s -t 12 -h https://localhost --http2"
        date={new Date("2025-09-19")}
      />
      <Benchmark
        title="Reverse proxy performance"
        description="Requests per second when proxying to backend services (higher is better)"
        data={[
          {
            name: "Hello World Axum app",
            ferron: 132548.87,
            competitor1: 61586.79,
            competitor2: 26061.17,
            competitor3: 31339.37
          }
        ]}
        unit={"req/s"}
        higherIsBetter={true}
        competitor1={"Traefik"}
        competitor2={"Apache httpd"}
        competitor3={"Caddy"}
        command="ferrbench -c 1000 -d 60s -t 12 -h https://localhost --http2"
        date={new Date("2025-06-13")}
      />
      <Benchmark
        title="Latency under load (reverse proxy)"
        description={'Average response time under high concurrency proxying to a "Hello World" Axum application (lower is better)'}
        data={[
          {
            name: "100 conn.",
            ferron: 0.76,
            competitor1: 1.5,
            competitor2: 1.32,
            competitor3: 1.75
          },
          {
            name: "1K conn.",
            ferron: 14.81,
            competitor1: 16.12,
            competitor2: 29.34,
            competitor3: 31.56
          },
          {
            name: "10K conn.",
            ferron: 89.64,
            competitor1: 191.82,
            competitor2: 59.58,
            competitor3: 543.49
          }
        ]}
        unit={"ms"}
        higherIsBetter={false}
        competitor1={"Traefik"}
        competitor2={"Apache httpd"}
        competitor3={"Caddy"}
        command="ferrbench -c $CONCURRENCY -d 60s -t 12 -h https://localhost --http2"
        date={new Date("2025-06-13")}
      />
      <Benchmark
        title="PHP performance"
        description="Requests per second when serving PHP through PHP-FPM (higher is better)"
        data={[
          {
            name: "Hello World PHP script",
            ferron: 44364.78,
            competitor1: 45255.49,
            competitor2: 43767.75,
            competitor3: 34664.32
          },
          {
            name: "Fresh WordPress",
            ferron: 223.91,
            competitor1: 225.86,
            competitor2: 222.74,
            competitor3: 223.08
          }
        ]}
        unit={"req/s"}
        higherIsBetter={true}
        competitor1={"lighttpd"}
        competitor2={"Apache httpd"}
        competitor3={"Caddy"}
        command="ferrbench -c 100 -d 60s -t 12 -h https://localhost --http2"
        date={new Date("2025-06-13")}
      />
    </div>
  </div>
</section>
