---
import FontAwesomeIcon from "../FontAwesomeIcon.astro";
---

<div class="card flex flex-col md:flex-row md:gap-4 card-hover">
  <div class="icon-badge lg:icon-badge-large mb-4 shrink-0">
    <FontAwesomeIcon icon={Astro.props.icon} />
  </div>
  <div class="grow">
    <h3 class="text-lg md:text-xl font-semibold mb-2">{Astro.props.title}</h3>
    <p class="text-muted-foreground">{Astro.props.description}</p>
  </div>
</div>
